.single_prod {
  .single_prod-comp {
    background-color: whitesmoke;
    padding: 8rem 8rem 4em;
    display: flex;
    gap: 3em;

    @media screen and (max-width: 768px) {
      flex-direction: column;
      padding: 8rem 1rem 4rem;
    }

    .single_prod-img {
      img {
        width: 28em;
        border-radius: 14px;

        @media screen and (max-width: 768px) {
          width: 21rem;
        }
      }
    }

    .single_prod-details {
      display: flex;
      flex-direction: column;
      gap: 1em;

      strong {
        color: rgb(1, 78, 1);
      }

      p {
        width: 80%;
        line-height: 1.3;
        color: rgb(53, 53, 53);

        @media screen and (max-width: 768px) {
          width: 100%;
        }
      }

      .prod_qty {
        p {
          display: flex;
          align-items: center;
          border: 1px solid gray;
          padding: 6px;
          width: fit-content;
          margin-top: 10px;

          span {
            font-size: 16px;
            padding: 4px 12px 0;
            cursor: pointer;
          }

          .qty_count {
            font-weight: 800;
            cursor: text;
            color: rgb(78, 78, 78);
            border-left: 1px solid gray;
            border-right: 1px solid gray;
          }
        }
      }

      .add_btns {
        display: flex;
        gap: 1em;

        :nth-child(1) {
          background: whitesmoke;
          border: 1px solid var(--secondary-color);
        }
        :nth-child(2) {
          background: var(--secondary-color);
          color: white;
          border: none;
        }

        button {
          padding: 10px 12px;
          width: 40%;
          cursor: pointer;
        }
      }
    }
  }
}
